@model IEnumerable<Paises_Api.Models.Estado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemEstado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.ImagemEstado)" >Imagem</a>
               
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EstadoId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.EstadoId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.EstadoId }) |
                @Html.ActionLink("Foto","Foto", new { id = item.EstadoId })
            </td>
        </tr>
}
    </tbody>
</table>
